<h2>¿Estas seguro?</h2>
<hr>
<p>Estas apunto de eliminar a 
    <b>{{ data.superhero }}</b>
    
    
</p>

<div class="row">
    <div class="col-md-6">
        <button mat-raised-button color="primary" (click)="cancelar()">
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
    </div>
    <div class="col-md-6">
        <button mat-raised-button color="warn" (click)="aceptar()">
            <mat-icon>done_all</mat-icon>
            Aceptar
        </button>
    </div>
</div>