/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.espacio{
    flex: 1 1 auto;
}
.card-heroe{
    min-height: 840px ;
}

.botones-op{
    position: absolute;
    left: 25px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    
}